<!DOCTYPE HTML>
<html>

{{> head}}

<style>

button.quick{
	font-size: 45px;
	font-family:hywen;
	padding: 5px 10px 5px 10px;
	border: 6px solid;
	border-radius: 10%;
	width: 173px;
}

.buttons{
	margin-top:15px;
	margin-bottom:20px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	column-gap:3.5em;
	row-gap: 2em;
}

center.region{
	font-size: 48px;
	color: white;
	margin-top:0.4em;
	text-align:center;
}

</style>

<body class>
	<div class="Title" style="font-size: 48px; color: white; margin-top:0.4em;">
		<center>
				Infographics for the patches since<br>
				last run for lim. 5-star characters
		</center>
	</div>
	
	<hr>
	
	<center class="region">Sumeru</center>
	<div class="buttons">
		<a href="/3_6" >
			<button class="quick" style="border-color:green;">V3.6</button>
		</a>
		<a href="/3_7" >
			<button class="quick" style="border-color:green;">V3.7</button>
		</a>
		<a href="/3_8" >
			<button class="quick" style="border-color:green;">V3.8</button>
		</a>
	</div>
	
	<center class="region">Fontaine</center>
	<div class="buttons">
		<a href="/4_0" >
			<button class="quick" style="border-color:blue;">V4.0</button>
		</a>
		<a href="/4_1" >
			<button class="quick" style="border-color:blue;">V4.1</button>
		</a>
		<a href="/4_2" >
			<button class="quick" style="border-color:blue;">V4.2</button>
		</a>
		<a href="/4_3" >
			<button class="quick" style="border-color:blue;">V4.3</button>
		</a>
		<a href="/4_4" >
			<button class="quick" style="border-color:blue;">V4.4</button>
		</a>
		<a href="/4_5" >
			<button class="quick" style="border-color:blue;">V4.5</button>
		</a>
		<a href="/4_6" >
			<button class="quick" style="border-color:blue;">V4.6</button>
		</a>
		<a href="/4_7" >
			<button class="quick" style="border-color:blue;">V4.7</button>
		</a>
		<a href="/4_8" >
			<button class="quick" style="border-color:blue;">V4.8</button>
		</a>
	</div>	

	<center class="region">Natlan</center>
	<div class="buttons">
		<a href="/5_0" >
			<button class="quick" style="border-color:red;">V5.0</button>
		</a>
		<a href="/5_1" >
			<button class="quick" style="border-color:red;">V5.1</button>
		</a>
		<a href="/5_2" >
			<button class="quick" style="border-color:red;">V5.2</button>
		</a>
	</div>
</body>

</html>